section {
  margin: 0;
  background-color: var(--color-primary);
  color: var(--color-secondary);

  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  flex-grow: 1;
  flex-shrink: 0;
  padding: 3rem 1.5rem;
}
