<div class="container">
  <div>
    <h1>Listado de amigos</h1>

    <div class="form">
      <div class="form-group">
        <label for="name">Nombre</label>
        <input
          type="text"
          class="form-control"
          placeholder="..."
          id="name"
          name="name"
          [formControl]="name"
          required
        />
      </div>

      <button type="submit" class="btn btn-primary" (click)="onAddFriend()">
        Añadir amigo
      </button>
    </div>

    <table>
      <tr>
        <th>Nombre</th>
      </tr>
      <tr *ngFor="let friend of friends">
        <td>{{ friend.name }}</td>
      </tr>
    </table>
  </div>
</div>
